@import '../styles/config/fonts.css';
@stylex stylesheet;

body, html {
  margin: 0 auto;
  padding: 0;
  font-family: 'Sf-pro-rounded', sans-serif;
  max-width: 1000px;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body:focus {
  outline: none !important;
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-rate .ant-rate-star:not(:last-child) {
  margin-inline-end: 2px;
}