@font-face {
  font-family: 'Sf-pro-display';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/SFProDisplay-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Sf-pro-display';
  font-style: normal;
  font-weight: 500;
  src: url('../../assets/fonts/SFProDisplay-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Sf-pro-display';
  font-style: normal;
  font-weight: 600;
  src: url('../../assets/fonts/SFProDisplay-Semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Sf-pro-rounded';
  font-style: normal;
  font-weight: 300;
  src: url('../../assets/fonts/SFProRounded-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Sf-pro-rounded';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/SFProRounded-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Sf-pro-rounded';
  font-style: normal;
  font-weight: 500;
  src: url('../../assets/fonts/SFProRounded-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Sf-pro-rounded';
  font-style: normal;
  font-weight: 600;
  src: url('../../assets/fonts/SFProRounded-Semibold.woff2') format('woff2');
}
@font-face {
  font-family: 'Reenie-beanie';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/ReenieBeanie.woff2') format('woff2');
}